# fly.toml file for a FastAPI + Docker backend

app = "shorts-backend-v2"
primary_region = "gru"

[build]

[env]
PORT = "8080"

[[services]]
internal_port = 8080
processes = ["app"]

  [services.concurrency]
  type = "requests"
  soft_limit = 20
  hard_limit = 50

  [[services.ports]]
  port = 80
  handlers = ["http"]

  [[services.ports]]
  port = 443
  handlers = ["tls", "http"]

  [[services.tcp_checks]]
  interval = "15s"
  timeout = "2s"
